In [29]:
import pandas as pd
import os

In [24]:
metadata='/Users/markjos/projects/malachor5/data/tira-clean/metadata.csv'
crosstab='/Users/markjos/projects/malachor5/data/tira-clean/rows_per_split.csv'

df=pd.read_csv(metadata)

In [30]:
df['eaf_source']=df['eaf_source'].apply(os.path.basename)
eaf_split_crosstab=pd.crosstab(df['eaf_source'], df['split'])
eaf_split_crosstab

split             test  train  validation
eaf_source
HH01082021.eaf       5     74           8
HH01152021.eaf       0     28           1
HH01222021.eaf      10    132           1
HH01292021-1.eaf     0     25           1
HH01292021.eaf       0    126           3
...                ...    ...         ...
HH20231229.eaf       0      3           0
HH20240126.eaf       8    152           0
HH20240209.eaf       2    172           3
HH20240223.eaf       0    168           6
HH20240308.eaf       1    121           0

[184 rows x 3 columns]

In [34]:
eaf_split_crosstab=eaf_split_crosstab.sort_values('train')
eaf_split_crosstab

split                 test  train  validation
eaf_source
HH20210913.eaf           1      0           1
HH10142020.eaf           0      1           1
HH20230929.eaf           0      1           2
HH07242020-Zoom1.eaf    58      1           0
HH20230531-3.eaf         1      1           3
...                    ...    ...         ...
HH20230608.eaf           5    287          22
HH20220326-5.eaf         0    289          51
HH20230703.eaf          20    316          15
HH20220719-2.eaf         0    318          20
HH20230626.eaf           5    337           1

[184 rows x 3 columns]

In [35]:
eaf_split_crosstab.to_csv(crosstab)